* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

img {
    width: 100vw;

}

a {
    display: block;
    background-color: darkblue;
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    background-color: blue;
}